.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
sandbox/.idea/workspace.xml
.idea/workspace.xml
addressbook-web-tests/.idea/addressbook-web-tests.iml
addressbook-web-tests/build/reports/tests/testContacts/classes/garuda.dndz.ua.tests.ContactCreationTest.html
addressbook-web-tests/build/reports/tests/testContacts/index.html
addressbook-web-tests/build/reports/tests/testContacts/packages/garuda.dndz.ua.tests.html
addressbook-web-tests/build/reports/tests/testGroups/classes/garuda.dndz.ua.tests.GroupCreationTests.html
addressbook-web-tests/build/reports/tests/testGroups/classes/garuda.dndz.ua.tests.GroupDeletionTests.html
addressbook-web-tests/build/reports/tests/testGroups/classes/garuda.dndz.ua.tests.GroupModificationTests.html
addressbook-web-tests/build/reports/tests/testGroups/css/base-style.css
addressbook-web-tests/build/reports/tests/testGroups/css/style.css
addressbook-web-tests/build/reports/tests/testGroups/index.html
addressbook-web-tests/build/reports/tests/testGroups/js/report.js
addressbook-web-tests/build/reports/tests/testGroups/packages/garuda.dndz.ua.tests.html
addressbook-web-tests/build/test-results/test/binary/results.bin
addressbook-web-tests/build/test-results/testContacts/binary/results.bin
addressbook-web-tests/build/test-results/testContacts/TEST-garuda.dndz.ua.tests.ContactCreationTest.xml
addressbook-web-tests/build/test-results/testGroups/binary/output.bin
addressbook-web-tests/build/test-results/testGroups/binary/output.bin.idx
addressbook-web-tests/build/test-results/testGroups/binary/results.bin
addressbook-web-tests/build/test-results/testGroups/TEST-garuda.dndz.ua.tests.GroupCreationTests.xml
addressbook-web-tests/build/test-results/testGroups/TEST-garuda.dndz.ua.tests.GroupDeletionTests.xml
addressbook-web-tests/build/test-results/testGroups/TEST-garuda.dndz.ua.tests.GroupModificationTests.xml
addressbook-web-tests/build/tmp/test/jar_extract_16338815616581551664_tmp
addressbook-web-tests/build/tmp/test/jar_extract_2435218553644095398_tmp
addressbook-web-tests/build/tmp/test/jar_extract_6664039271212473881_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_17950103209035463345_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_7710446549451929156_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_8122625172761916074_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_3148691057861550247_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_5907048075666999413_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_9931966365559216728_tmp
addressbook-web-tests/build/reports/tests/testContacts/classes/garuda.dndz.ua.tests.ContactCreationTest.html
addressbook-web-tests/build/reports/tests/testContacts/index.html
addressbook-web-tests/build/reports/tests/testContacts/packages/garuda.dndz.ua.tests.html
addressbook-web-tests/build/test-results/test/binary/results.bin
addressbook-web-tests/build/test-results/testContacts/binary/results.bin
addressbook-web-tests/build/test-results/testContacts/TEST-garuda.dndz.ua.tests.ContactCreationTest.xml
addressbook-web-tests/build.gradle
addressbook-web-tests/build/classes/java/test/garuda/dndz/ua/appmanager/AplicationManager.class
addressbook-web-tests/build/classes/java/test/garuda/dndz/ua/tests/TestBase.class
addressbook-web-tests/build/reports/tests/testContacts/classes/garuda.dndz.ua.tests.ContactCreationTest.html
addressbook-web-tests/build/reports/tests/testContacts/index.html
addressbook-web-tests/build/reports/tests/testContacts/packages/garuda.dndz.ua.tests.html
addressbook-web-tests/build/resources/test/local.properties
addressbook-web-tests/build/test-results/test/binary/results.bin
addressbook-web-tests/build/test-results/testContacts/binary/results.bin
addressbook-web-tests/build/test-results/testContacts/TEST-garuda.dndz.ua.tests.ContactCreationTest.xml
addressbook-web-tests/build/tmp/compileTestJava/source-classes-mapping.txt
addressbook-web-tests/build/tmp/test/jar_extract_10967243155965653270_tmp
addressbook-web-tests/build/tmp/test/jar_extract_12403225219974972377_tmp
addressbook-web-tests/build/tmp/test/jar_extract_13493814171143754433_tmp
addressbook-web-tests/build/tmp/test/jar_extract_15833031170589916033_tmp
addressbook-web-tests/build/tmp/test/jar_extract_16488115882948201644_tmp
addressbook-web-tests/build/tmp/test/jar_extract_213389187310188616_tmp
addressbook-web-tests/build/tmp/test/jar_extract_264152605125689544_tmp
addressbook-web-tests/build/tmp/test/jar_extract_3147471817632705821_tmp
addressbook-web-tests/build/tmp/test/jar_extract_3360810941196520433_tmp
addressbook-web-tests/build/tmp/test/jar_extract_4593528891872740893_tmp
addressbook-web-tests/build/tmp/test/jar_extract_9526620498390844798_tmp
addressbook-web-tests/build/tmp/test/jar_extract_9652221535953068548_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_5986933884352548601_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_8115189858899302400_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_9829773929725200375_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_15178169729359572196_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_15963264014075080312_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_16578386585619744611_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_17403038051036352878_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_17872386228729046525_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_5209038234500415436_tmp
addressbook-web-tests/src/test/java/garuda/dndz/ua/appmanager/AplicationManager.java
addressbook-web-tests/src/test/java/garuda/dndz/ua/tests/TestBase.java
addressbook-web-tests/src/test/resources/local.properties
sandbox/build/classes/java/test/ua/gg/lol/EquationTest.class
sandbox/build/reports/tests/test/classes/ua.gg.lol.PrimeTests.html
sandbox/build/reports/tests/test/classes/ua.gg.lol.SquareTest.html
sandbox/build/reports/tests/test/index.html
sandbox/build/reports/tests/test/packages/ua.gg.lol.html
sandbox/build/test-results/test/binary/results.bin
sandbox/build/test-results/test/TEST-ua.gg.lol.PrimeTests.xml
sandbox/build/test-results/test/TEST-ua.gg.lol.SquareTest.xml
